JWT_SECRET=1c9b43b75339b6661cf1c9243a74c271e95f7f97fb84963277cd98618e7320f6
DATABASE_URL= postgres://default:qjhod3z0emOE@ep-delicate-scene-a2llhzd2.eu-central-1.aws.neon.tech:5432/verceldb


# // node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
